@use "../library/function" as fn
@use "../variables" as var

=hoverAnimation($transition-duraiton: .3s) 
  transition: $transition-duraiton
  @media (hover: hover) 
    &:hover 
      @content 

=hoverTransparent($width, $transition, $opacity)
  width: percentage(calc($width / 100))
  transition: $transition + s
  opacity: 1
  &:hover
    opacity: $opacity

=hoverInnerScale($width, $scale)
  a
    display: block
    width: percentage(calc($width / 100))
    aspect-ratio: 1/.925
    overflow: hidden
    @content
    &:hover
      img
        transform: scale($scale)      

=hoverArgBgImg($width, $height, $transition, $scale)
  width: percentage(calc($width / 100))
  height: percentage(calc(height / 100))
  background-repeat: no-repeat
  background-size: cover
  transition: $transition + s
  @content
  &:hover
    transform: scale($scale)


// =caption-with-visual 
//   writing-mode: vertical-rl
//   font-family: "Lato", sans-serif
//   font-weight: 900
//   font-style: italic

// =dl-container 
//   display: flex
//   margin-bottom: 12px
//   padding-bottom: 12px
//   border-bottom: 1px dotted var.$color-gray
//   dt, dd 
//     font-weight: 300
//     line-height: 1.7
//   dt 
//     min-width: 85px

// =scroll-trigger-curtains 
//   .curtains 
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     content: ""
//     background-color: #fff
//     z-index: fn.get_index(curtains)