// @use '../forwards' as fw;
@use 'color' as cl;

@mixin defalut-button {
  width: 200px;
  padding: 10px 0;
  font-size: .8em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: cl.$color_green;
  border: none;
  border-radius: 10px;
}