$color-cyan-light-blue: #f1f9fc;
$color-cyan-bluish-gray-light: #c2c3c4;
$color-cyan-bluish-gray: #363e45;
$color-cyan-daru-gray: #748dc8;
$color-cyan-dark-blue-light: #c4cdd9;
$color-cyan-dark-blue-lomid: #707483;
$color-cyan-dark-blue-himid: #677b9e;
$color-cyan-dark-blue: #112342;
$color-cyan-vivid-blue: #00266a;
$color-cyan-dark-blue-more: #0f1f3b;
$color-theme-blue: #182e58;
