@use "../forwards" as fw

.loading 
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: #fff
  transition: 1.5s
  visibility: hidden
  opacity: 0
  z-index: fw.set_index(loading)
  &.keep 
    visibility: visible
    opacity: 1
  .image
    +fw.positionAbsoluteCTL
    width: 100px
    height: 100px
    object-fit: contain