@use "../forwards" as fw

.loading 
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background-color: fw.$color-cyan-vivid-blue
  transition: 1.5s
  visibility: hidden
  opacity: 0
  z-index: fw.set_index(loading)
  // //////////////////////////////////// switch 
  // &.keep 
  //   visibility: visible
  //   opacity: 1
  svg
    +fw.positionAbsoluteCTL
    width: 40mm
      
    .outer_frame, .logo_svg
      fill: none
      stroke: #fff
      stroke-width: 3px
      stroke-dasharray: 1300px
  .org_logo
    +fw.positionAbsoluteCTL
    width: 40mm
    height: 40mm
    object-fit: contain
    opacity: 0


// 質問 SVGをimgで扱えるそうだが上手くいかない。
// .ico-svg path
//   -webkit-transition: all ease-in-out 1s
//   transition: all ease-in-out 1s

// .logo.replace-svg path
//   fill: red
