@use "../forwards" as fw;

.concept {
  position: relative;
  width: 100%;
  color: #fff;
  background-color: #000;
  // なぜかグラデーション的に天へ向かってフェイドアウトする？？？
  // background: url(../img/fv-bg.png) no-repeat center;
  background-image: url(../img/fv-bg.png);
  background-repeat: no-repeat;
  background-size: 167%;
  background-position: 50% 42%;
  z-index: -3;
  .composed-visual {
    position: relative;
    height: 64vh;
    img {
      position: absolute;
      &.copy-one {
        bottom: 30%;
        left: 50%;
        transform: translateX(-95%);
        width: 15%;
      }
      &.copy-two {
        bottom: 20%;
        left: 50%;
        transform: translateX(-5%);
        width: 15%;
      }
      &.catch-copy {
        bottom: -1%;
        left: 50%;
        transform: translateX(-50%);
        width: 32%;
      }
      &.frame {
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
      }
    }
  }
  p {
    margin-top: 45px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.15em;
    line-height: 2.55;
    color: #fff;
  }
  .philosophy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 55px auto 0;
    width: 450px;
    height: 135px;
    background-color: fw.$color-cyan-dark-blue;
    img {
      display: inline-block;
      width: 265px;
    }
    .border {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(450px - 20px);
      height: calc(135px - 20px);
      border: 1px solid fw.$color-cyan-bluish-gray-light;
      span {
        position: absolute;
        top: -2.5px;
        left: -2.5px;
        width: 5px;
        height: 5px;
        background-color: fw.$color-cyan-bluish-gray-light;
        &:nth-of-type(2) {
          top: -2.5px;
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-of-type(3) {
          top: -2.5px;
          left: calc(100% - 2.5px);
        }
        &:nth-of-type(4) {
          top: calc(100% - 2.5px);
          left: -2.5px;
        }
        &:nth-of-type(5) {
          top: calc(100% - 2.5px);
          left: 50%;
        }
        &:nth-of-type(6) {
          top: calc(100% - 2.5px);
          left: calc(100% - 2.5px);
        }
      }
    }
  }
  // メインのスタッフの集合写真で高さを確保する必要がある。
  // z-index: 0;にする必要あり。
  // なので変数が使えない。set-index(name)
  // どうしたらいいのか？？？
  .composed-staff {
    position: relative;
    height: 50%;
    .main-image {
      margin-top: -60px;
      img {
        width: 100%;
      }
    }
    >img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      &.light {
        top: -65px;
        width: 45%;
        mix-blend-mode: screen;
        z-index: -1;
      }
      &.behind {
        z-index: -2;
      }
    }
  }
}