@use "../../forwards" as fw;

.news {
  padding: 150px 10% 120px;
  background-color: fw.$color-cyan-light-blue;
  h2 {
    margin-bottom: 50px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    li {
      img {
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
        margin-bottom: 20px;
      }
      .header-sub {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h5 {
          width: max-content;
          padding: 4px 8px 5px 10px;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.02em;
          color: #fff;
          background-color: fw.$color-cyan-vivid-blue;
        }
        time {
          font-size: 1.2rem;
          font-weight: 500;
          letter-spacing: 0.08em;
          color: fw.$color-cyan-vivid-blue;
          margin-left: 15px;
        }
      }
      h4 {
        margin-top: 15px;
        font-size: 2.2rem;
        letter-spacing: 0.08em;
        line-height: 1.3;
        font-weight: bold;
        color: fw.$color-cyan-vivid-blue;
        border-bottom: 1px solid fw.$color-cyan-dark-blue-light;
        padding-bottom: 20px;
        position: relative;
      }
      p {
        margin-top: 30px;
        text-align: left;
      }
    }
  }
  .more-info-btn {
    margin: 80px auto 0;
    padding: 25px 80px;
  }
}