@use "../../forwards" as fw

.other-links 
  ul 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: .75rem
    li 
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      font-size: 3.4rem
      font-weight: 700
      letter-spacing: 0.05em
      color: #fff
      aspect-ratio: 1
      // +fw.hoverInnerScale(100, 1.1)
      span 
        margin-top: 10px
        font-size: 2rem
        font-weight: 600
        font-style: italic
      &:nth-last-of-type(1) 
        background-image: url(../img/other-recruit.jpg)
        background-repeat: no-repeat
        background-size: cover
        +fw.media-query-sp 
          background-image: url(../img/sp-other-message.jpg)
      &:nth-last-of-type(2) 
        background-image: url(../img/other-company.jpg)
        background-repeat: no-repeat
        background-size: cover
      &:nth-last-of-type(3) 
        background-image: url(../img/other-message.jpg)
        background-repeat: no-repeat
        background-size: cover