@use "../../forwards" as fw;

.project {
  position: relative;
  padding: 0 0 145px 120px;
  background-image: url(../img/project-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom left;
  z-index: -2;
  img {
    position: absolute;
    &:nth-of-type(1) {
      top: -115px;
      left: -70px;
      width: 50%;
      z-index: -1;
    }
    &:nth-of-type(2) {
      top: 5%;
      right: 0;
      width: 50%;
      z-index: -1;
    }
    &:nth-of-type(3) {
      top: 21%;
      left: 55%;
      transform: translateX(-50%);
      width: 27%;
      z-index: -1;
    }
  }
  h2 {
    margin-top: 130px;
    text-align: left;
  }
  .lead-copy {
    margin: 0 0 10px;
  }
  p {
    text-align: left;
  }
  .more-info-btn.left {
    margin: 40px 0 0;
  }
  .point {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 210px;
    li {
      position: relative;
      width: 100%;
      aspect-ratio: 1/1.4;
      background-repeat: no-repeat;
      background-size: 100%;
      &:nth-of-type(1) {
        background-image: url(../img/project01.jpg);
      }
      &:nth-of-type(2) {
        margin-top: 40px;
        background-image: url(../img/project02.jpg);
      }
      &:nth-of-type(3) {
        margin-top: 80px;
        background-image: url(../img/project03.jpg);
      }
      div {
        position: absolute;
        bottom: 8%;
        left: 0;
        width: max-content;
        padding: 1.5rem 2rem;
        background-color: fw.$color-cyan-vivid-blue;
        h4, p {
          margin: 0;
          font-size: 1.3rem;
          line-height: 1;
          color: #fff;
        }
        h4 {
          margin-bottom: 15px;
          font-size: 1.15rem;
          font-style: italic;
          letter-spacing: .15em;
        }
        p:nth-of-type(1) {
          font-size: 2.3rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}