@use "../../forwards" as fw

.home
  .posts 
    padding: 150px 10% 130px
    background-color: fw.$color-cyan-light-blue
    h2 
      margin-bottom: 50px
    ul
      +fw.blogArchive
    // ul 
    //   display: grid
    //   grid-template-columns: repeat(3, 1fr)
    //   gap: 2rem
    //   li
    //     position: relative
    //     a
    //       width: 100%
    //       .frame
    //         +fw.hoverInnerScale
    //           aspect-ratio: 4/3
    //           margin-bottom: 25px
    //       .header-sub
    //         display: flex
    //         align-items: center
    //         width: 100%
    //         margin-bottom: 10px
    //         .post-categorie
    //           +fw.postCategorie
    //         time 
    //           font-weight: 500
    //           letter-spacing: 0.08em
    //           color: fw.$color-cyan-vivid-blue
    //           margin-left: 15px
    //       h4.shrinkLine
    //         +fw.shrinkBorderHeader(2.2rem, -1px, 3px, fw.$color-cyan-vivid-blue, fw.$left_left)
    //           padding-bottom: 20px
    //           letter-spacing: 0.08em
    //           line-height: 1.3
    //           font-weight: bold
    //           color: fw.$color-cyan-vivid-blue
    //           border-bottom: 1px solid fw.$color-cyan-dark-blue-light
    //           &:hover
    //             color: fw.$color-cyan-vivid-blue
    //       p 
    //         margin-top: 30px
    //         text-align: left
    //         line-height: 1.9
    .more-info-btn 
      margin: 80px auto 0
      padding: 25px 80px

  .posts 
    +fw.media-query-sp
      padding: 60px 5% 55px
      h2
        // margin-bottom: 25px
      ul
        grid-template-columns: 1fr
        gap: 0
        li
          + li
            margin-top: 45px
          &:nth-of-type(2), &:nth-of-type(3)
            a
              aspect-ratio: 3/2.05
          h4
            .shrinkLine
              margin-top: 10px
              padding-bottom: 15px
              font-size: 1.8rem
              aspect-ratio: unset
          p
            margin-top: 15px
            font-size: 1.5rem
          .header-sub
            margin-top: 10px
            h5
              font-size: 1.4rem
            time
              font-size: 1.2rem
              font-weight: 700
      .more-info-btn
        margin: 50px auto 0